################################
# Locators
################################

'.source.js, .source.ts':

  'element by.id':
    prefix: 'elbi'
    body:   'element(by.id($1));'
  'element by.name':
    prefix: 'elbn'
    body:   'element(by.name($1));'
  'element by.className':
    prefix: 'elbcn'
    body:   'element(by.className($1));'
  'element by.deepCss':
    prefix: 'elbdc'
    body:   'element(by.deepCss($1));'
  'element by.css':
    prefix: 'elbc'
    body:   'element(by.css($1));'
  'element by.linkText':
    prefix: 'elblt'
    body:   'element(by.linkText($1));'
  'element by.buttonText':
    prefix: 'elbbt'
    body:   'element(by.buttonText($1));'
  'element by.model':
    prefix: 'elbm'
    body:   'element(by.model($1));'
  'element by.binding':
    prefix: 'elbb'
    body:   'element(by.binding($1));'
  'element.all by.id':
    prefix: 'elabi'
    body:   'element.all(by.id($1));'
  'element.all by.name':
    prefix: 'elabn'
    body:   'element.all(by.name($1));'
  'element.all by.className':
    prefix: 'elabcn'
    body:   'element.all(by.className($1));'
  'element.all by.deepCss':
    prefix: 'elabdc'
    body:   'element.all(by.deepCss($1));'
  'element.all by.css':
    prefix: 'elabc'
    body:   'element.all(by.css($1));'
  'element.all by.linkText':
    prefix: 'elablt'
    body:   'element.all(by.linkText($1));'
  'element.all by.buttonText':
    prefix: 'elabbt'
    body:   'element.all(by.buttonText($1));'
  'element.all by.css':
    prefix: 'elabc'
    body:   'element.all(by.css($1));'
  'element.all by.model':
    prefix: 'elabm'
    body:   'element.all(by.model($1));'
  'element.all by.binding':
    prefix: 'elabb'
    body:   'element.all(by.binding($1));'
  'element.all by.repeater':
    prefix: 'elabr'
    body:   'element(by.repeater($1));'
